#app{
    background: linear-gradient(to right,#FFFFFF,#E6E4FB,#D9D5F9);
}

#container::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#container {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}